*{
    margin: 0;
    padding: 0;
    transition: 0.5s;
}
body{
    background-color: rgb(227, 228, 236);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(241, 241, 241);
}