#projects{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#projects .proyecto{
    width: 250px;
    margin: 20px;
    background-color: rgb(66, 72, 88);
    border-radius: 5%;
}
#projects .proyecto:hover{
    -webkit-box-shadow: 10px 10px 9px -4px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 9px -4px rgba(0,0,0,0.75);
box-shadow: 10px 10px 9px -4px rgba(0,0,0,0.75);
}
#projects div img{
    width: 250px;
    height: 250px;
    border-radius: 5%;
}
#projects p{
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}
#projects a{
    display: block;
    padding-top: 10px;
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    text-align: center;
    padding-bottom: 10px;
}
#projects .proyecto:hover{
    margin-top:10px
}
