#projects{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#projects .proyecto{
    width: 250px;
    margin: 20px;
    background-color: rgb(66, 72, 88);
    border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    border: 0px solid #000000;

    -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
    border: 4px solid rgb(149, 153, 179);
}
#projects .proyecto:hover{
    -webkit-box-shadow: 10px 10px 9px -4px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 9px -4px rgba(0,0,0,0.75);
box-shadow: 10px 10px 9px -4px rgba(0,0,0,0.75);
}
#projects div img{
    width: 250px;
    height: 250px;
    border-radius: 20px 20px 0px 0px;
-moz-border-radius: 20px 20px 0px 0px;
-webkit-border-radius: 20px 20px 0px 0px;
border: 0px solid #000000;
}
#projects p{
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}
#projects a{
    display: block;
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    text-align: center;
    text-decoration: none;
}
#projects .proyecto:hover{
    margin-top:10px
}
